__pycache__
*.pyc
*.pyo
*.pyd
venv
.env
.git
.gitignore
.old
.vscode
.idea
.vs
.vscode-test
.history
.ipynb_checkpoints
.pytest_cache
.mypy_cache
.pytype
cython_debug
.tox
.nox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache
__pypackages__
.github